<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="favicon-32x32.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCC</title>
<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
    <div class="home">
<ul>
<h1>The website is in progress</h1>
<p>You can try following routes</p>
<a href="/admin/register"><li>/signup</li></a>
<a href="/login"><li>/login</li></a>
<a href="/"><li>/home</li></a>
<a href="/student/register"><li>/student/register</li></a>
</ul>
</div>



</body>
</html>

 