<%layout('layout /boilerplate.ejs')%>
    <form action="/addnotes" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
        <div class="notes-details">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control name=" subject" id="subject">
            <label class="form-label" for="semester">Select the semester</label>
            <select name="semester" id="semester"> select the semester
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <label for="module">Select the module</label>
            <select name="module" id="module">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <input type="file" id="notes" name="notes">

        <button type="submit">Submit</button>
    </form>