<%layout('layout/boilerplate.ejs')%>
<form action="/addpyqs" method="POST" novalidate class="validate-form" enctype="multipart/form-data" >
<input type="text" name="fullname" id="">
<!-- <label for="notes">Add notes</label> -->
<input type="file" id="pyq" name="pyq">

<button type="submit">Submit</button>
</form>