<% layout('layout/boilerplate.ejs')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="pdacollege.jpeg"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Full Name</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="phone">Phone Number</label>
                                <input class="form-control" type="text" id="phone" name="phone" required maxlength="10">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
</body>
</html> -->