    
<%-layout("layout/boilerplate.ejs")%>
<div class="card shadow-sm">
          <div class="card-body">
            <h4 class="card-title text-primary mb-3">Search Student Result</h4>
            <form action="/result" method="POST" class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="usn" class="form-label">Enter USN</label>
                <input type="text" class="form-control" id="usn" placeholder="e.g. 1AI21CS001" name="usn" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Search</button>
            </form>
          </div>
        </div>