<%layout('layout/boilerplate.ejs')%>
    <div>
    <form action="/addpdf" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
        <label for="pdf">adding pdf</label>
        <input type="file" name="pdf">
        <button type="submit">submit</button>
    </form>
    </div>